<p>
  <strong>version:</strong>
  <%= version.number %>

	<strong>schme:</strong>
  <%= version.schme %>

  <strong>them_id:</strong>
  <%= version.them_id %>


<%= link_to "查看", software_version_path(@software, version) %>

</p>
 
